@import "tailwindcss";

@keyframes fadeInSlow {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.animate-fade-in-slow {
  animation: fadeInSlow 2.2s cubic-bezier(.39,.58,.57,1) both;
}

body {
  margin: 0;
  padding: 0;
}
